@font-face {
  font-family: "estedad";
  src: /* IE6-IE8 */
    url("./fonts/estedad.woff2") format("woff2"),
    /* Pretty Modern Browsers */ url("./fonts/estedad.ttf") format("truetype");
}

html {
  background: rgb(17, 24, 39);
  background: linear-gradient(
    115deg,
    rgba(17, 24, 39, 1) 0%,
    rgba(31, 41, 55, 1) 70%
  );
  height: 100vh;
  color: #fff;
}
#root {
  background: rgb(17, 24, 39);
  background: linear-gradient(
    115deg,
    rgba(17, 24, 39, 1) 0%,
    rgba(31, 41, 55, 1) 70%
  );
  font-family: "estedad", sans-serif;
}
.portfolio:hover > div > div {
  display: flex;
  opacity: 1;
}
.portfolio:hover > a > div > div {
  display: flex;
  opacity: 1;
}
.portfolio:hover {
  z-index: 1;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
